body{
    background-color: #000000;
    display: block;    
    overflow-x: hidden;    
}
#todoDiv{
    background-color: #F3F3F3;
    margin: 0px -17px 0px -7px;    
}
#header{
    width: 80%;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    overflow: hidden;
}
#divLogo{
    width: auto;
    float: left;
}
#login{
    float: right;
}
#nav{    
    height: 50px;
    margin-left: 25%;
    padding: 7px 60px 10px 0px;
}
.separadorH{
    background-color: #000000;
    height: 10px;
    margin: 0px -17px 0px -17px;
}
.separadorV{
    background-color: #000000;
    height: 100px;
    width: 2px;
    margin: 0px -17px 0px -17px;
}
#content{
    width: 1100px;
    height: 450px;
    margin: 50px auto 0 auto;        
}
.tablaL, .tablaR{
    width: 450px;
}
.tablaR{    
    margin-left: 600px;    
}
.tablaL{
    margin-left: 60px;    
    float: left;
}
.tabla-form td, .tabla-form th{
    padding: 5px 20px 5px 20px;        
    vertical-align: middle;
}
.tabla-form th{
    text-align: left;    
}