body{
    background-color: #F3F3F3;
    display: block;    
    font-family: "Century Gothic";
    overflow-x: hidden;    
}
#todoDiv{    
    margin: -8px -8px 0px -8px;
}
#header{
    width: 80%;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    overflow: hidden;
}
#divLogo{
    width: auto;
    float: left;
}
#login{
    float: right;
}
#nav{    
    height: 50px;
    margin-left: 25%;
    padding: 7px 60px 10px 0px;
}
.separadorH, .separador{
    background-color: #000000;    
}
.separadorH{
    height: 30px;
}
.separador{
    height: 10px;
}
#content{
    width: 100%;
    height: 67%;
    margin: 50px 0px 0px 5%;
}
#aside{    
    width: 25%;
    float: right;
    height: 100%;
}
#section{
    width: 70%;
}
.tablaL, .tablaR{
    width: 450px;
}
.tablaR{    
    margin-left: 600px;    
}
.tablaL{
    margin-left: 60px;    
    float: left;
}
.tabla-form td, .tabla-form th{
    padding: 5px 20px 5px 20px;        
    vertical-align: middle;
}
.tabla-form th{
    text-align: left;    
}